<launch>
  <include file="$(find ydlidar)/launch/X4_lidar.launch" />    
  <include file="$(find pibot_bringup)/launch/bringup.launch" />   

  <arg name="map_file" default="/home/saki/catkin_ws/maps/12.yaml"/>  
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="/home/saki/catkin_ws/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="/home/saki/catkin_ws/launch/move_base.launch">   
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  
  <!-- run MyGO.py -->
  <node name="MyGO" pkg="tomorin" type="MyGO.py" output="screen"/>
</launch>
