<launch>
  <!-- 包含 YDLidar X4 雷射雷達的啟動文件 -->
  <include file="$(find ydlidar)/launch/X4_lidar.launch" />    
  <!-- 包含 Pibot 機器人啟動文件 -->
  <include file="$(find pibot_bringup)/launch/bringup.launch" />   

  <!-- 地圖文件的路徑，預設為 /home/saki/catkin_ws/maps/12.yaml -->
  <arg name="map_file" default="/home/saki/catkin_ws/maps/12.yaml"/>
  <!-- 是否只允許前進運動，預設為 false -->
  <arg name="move_forward_only" default="false"/>

  <!-- 啟動地圖伺服器，載入地圖文件 -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- 包含 AMCL (Adaptive Monte Carlo Localization) 的啟動文件 -->
  <include file="/home/saki/catkin_ws/launch/amcl.launch"/>

  <!-- 包含 move_base 的啟動文件，用於導航 -->
  <include file="/home/saki/catkin_ws/launch/move_base.launch">   
    <!-- 將 move_forward_only 參數傳遞給 move_base -->
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  
  <!-- 啟動 MyGO.py 腳本 -->
  <node name="MyGO" pkg="tomorin" type="MyGO.py" output="screen"/>
</launch>
