<launch>
  <include file="$(find ydlidar)/launch/X4_lidar.launch" />
  <include file="$(find pibot_bringup)/launch/bringup.launch" />
  <include file="/home/mini2/catkin_ws/launch/hector_slam.launch" />   


  <!-- move_base with TEB local planner -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="move_forward_only" value="$(arg move_forward_only)"/>
    
    <!-- 載入costmap參數 -->
    <rosparam file="$(find mini2)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mini2)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mini2)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mini2)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mini2)/param/move_base_params.yaml" command="load" />
    
    <!-- 載入TEB參數 -->
    <rosparam file="$(find mini2)/param/teb_local_planner_params.yaml" command="load" />
  </node>
  
  <!-- run MyGo.py -->
  <node name="MyGo" pkg="tomorin" type="MyGo.py" output="screen"/>
</launch>
